.container {
    display: flex;
    flex-wrap: wrap;
}

.inputSelector {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 12px;
    padding-left: 8px;
    width: 128px + 12px;
}

.inputSelectorLabel {
    margin-top: -12px;
    justify-content: center;
    align-items: center;
}

.inputSelectorSelect {
    background-color: #303947;
    border-radius: 4px;
    padding: 1px 4px 2px 4px;

}

.controlButtonsContainer {
    flex-basis: 100%;
    display: flex;
    margin-top: 6px;
    justify-content: center;
}

.controlButton {
    width: 128px;
}
