.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 4px 8px 4px 8px;
}

.headerContainer {
    display: flex;
    margin-bottom: 6px;
    font-size: 22px;
    padding: 0 10px 0 10px;
}

.headerInputLabel {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 10px;
    min-width: 200px;
}

.headerDescriptionLabel {
    flex: 0 0 70%;
    max-width: 70%;
    min-width: 320px;
}


.shaderInfo {
    height: 100px;
    align-items: center;
    display: flex;
    border-width: 1px 0 0 0;
    border-color: var(--ifm-color-emphasis-300);
    border-style: solid;
    margin-top: 4px;
    padding: 4px 10px 0 10px;
}

.shaderInfoLabelContainer {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.shaderInfoDescriptionContainer {
    flex: 0 0 70%;
    max-width: 70%;
    display: flex;
    align-items: center;
    min-width: 320px;
}

@media only screen and (max-width:660px) {
    .container {
        height: 76vh;
    }
}

.tooltip {
  color: var(--ifm-font-color-base-inverse) !important;
  background-color: var(--ifm-color-emphasis-700) !important;
  opacity: 1 !important;
}
.tooltip:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }

.tooltipCode {
    color: var(--ifm-font-color-base-inverse) !important;
    background-color: var(--ifm-color-emphasis-600) !important;
    cursor: copy !important;
    display: block;
    white-space: pre-wrap;
}
