.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 4px 8px 4px 8px;
}

.headerContainer {
    display: flex;
    margin-bottom: 6px;
    font-size: 1.4rem;
    /* border: 1px solid red; */
}

.headerInputLabel {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 10px;
}

.headerResolutionLabel {
    flex: 0 0 40%;
    max-width: 40%;
    width: 11rem;
}

.headerPreviewLabel {
    flex: 0 0 30%;
    max-width: 30%;
    padding-left: 10px;
    /* border: 1px solid green; */
}


.inputSelector {
    height: 10vh;
    align-items: center;
    display: flex;
    border-width: 1px 0 0 0;
    border-color: #706c6c;
    border-style: solid;
    margin-top: 4px;
    padding-top: 4px;
    /* border: 1px solid red; */
}

.inputSelectorLabel {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 10px;
    /* border: 1px solid yellow; */
}

.inputSelectorSelectContainer {
    flex: 0 0 40%;
    max-width: 40%;
    width: 11rem;
    display: flex;
    align-items: center;
    /* border: 1px solid magenta; */
}

.inputSelectorSelect {
    background-color: #444950;
    border-radius: 4px;
    padding: 1px 4px 2px 4px;
    width: 80%;
}

.inputSelectorImgContainer {
    height: 100%;
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    /* border: 1px solid green; */
}

.inputSelectorImg {
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width:660px) {
    .inputSelectorSelectContainer {
        min-width: 0;
    }
    .headerResolutionLabel {
        min-width: 0;
    }
}
