.content {
    zoom: 1.28;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #242427;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #444950;
    width: 548px;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.inputSelector {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 12px;
    padding-left: 8px;
    width: 128px + 12px;
}

.inputSelectorLabel {
    margin-top: -12px;
    justify-content: center;
    align-items: center;
}

.inputSelectorSelect {
    background-color: #303947;
    border-radius: 4px;
    padding: 1px 4px 2px 4px;

}

.controlButtonsContainer {
    flex-basis: 100%;
    display: flex;
    margin-top: 6px;
    justify-content: flex-end;
}

.controlButton {
    margin: 0 20px 0 0px;
    width: 96px;
}
