.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 4px 8px 4px 8px;
}

.headerContainer {
    display: flex;
    margin-bottom: 6px;
    font-size: 22px;
    padding: 0 10px 0 10px;
}

.headerInputLabel {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 10px;
}

.headerResolutionLabel {
    flex: 0 0 40%;
    max-width: 40%;
    width: 200px;
}

.headerPreviewLabel {
    flex: 0 0 30%;
    max-width: 30%;
    padding-left: 10px;
}


.inputSelector {
    height: 100px;
    align-items: center;
    display: flex;
    border-width: 1px 0 0 0;
    border-color: var(--ifm-color-emphasis-300);
    border-style: solid;
    margin-top: 4px;
    padding: 4px 10px 0 10px;
}

.inputSelectorLabelContainer {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.inputSelectorSelectContainer {
    flex: 0 0 40%;
    max-width: 40%;
    width: 200px;
    display: flex;
    align-items: center;
}

.inputSelectorSelect {
    background-color: var(--ifm-color-emphasis-200);
    border-radius: 4px;
    padding: 1px 4px 2px 4px;
    width: 80%;
}

.inputSelectorImgContainer {
    height: 100%;
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.inputSelectorImg {
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width:660px) {
    .inputSelectorSelectContainer {
        min-width: 0;
    }
    .headerResolutionLabel {
        min-width: 0;
    }
}

.tooltip {
  color: var(--ifm-font-color-base-inverse) !important;
  background-color: var(--ifm-color-emphasis-700) !important;
  opacity: 1 !important;
}
.tooltip:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }

.tooltipCode {
    color: var(--ifm-font-color-base-inverse) !important;
    background-color: var(--ifm-color-emphasis-600) !important;
    cursor: copy !important;
}
