.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 4px 8px 4px 8px;
}

.imagePreviewIntro {
    font-size: 22px;
    margin-bottom: 48px;
    padding: 20px;
}

.headerContainer {
    display: flex;
    margin-bottom: 6px;
    font-size: 22px;
    padding: 0 10px 0 10px;
}

.headerInputLabel {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 10px;
    min-width: 160px;
}

.headerDescriptionLabel {
    flex: 0 0 60%;
    max-width: 60%;
    min-width: 320px;
}

.headerPreviewLabel {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 10px;
    min-width: 120px;
}


.imagePreview {
    height: 100px;
    align-items: center;
    display: flex;
    border-width: 1px 0 0 0;
    border-color: var(--ifm-color-emphasis-300);
    border-style: solid;
    margin-top: 4px;
    padding: 4px 10px 0 10px;
}

.imagePreviewLabelContainer {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 160px;
}

.imagePreviewDescriptionContainer {
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    align-items: center;
    min-width: 320px;
}

.imagePreviewImgContainer {
    height: 100%;
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    min-width: 120px;
}

.imagePreviewImg {
    height: 100%;
    object-fit: contain;
}


code {
    white-space: nowrap;
}

@media only screen and (max-width:660px) {
    .container {
        height: 76vh;
        overflow: scroll;
    }
    code {white-space: wrap}
}

.tooltip {
  color: var(--ifm-font-color-base-inverse) !important;
  background-color: var(--ifm-color-emphasis-700) !important;
  opacity: 1 !important;
}
.tooltip:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }

.tooltipCode {
    color: var(--ifm-font-color-base-inverse) !important;
    background-color: var(--ifm-color-emphasis-600) !important;
    cursor: copy !important;
}
